body {
  font-family: "Roboto", serif;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 57px 0 0 144px;
}
.Contact {
  color: #5863e3;
  font-size: 17px;
  font-weight: 700;
}
.Contact2 {
  color: #000000;
  font-size: 49px;
  font-weight: 400;
  width: 350px;
}
.title {
  display: flex;
  flex-direction: row;
}
.type {
  display: flex;
  flex-direction: row;
  padding: 57px 150px 0 144px;
}
textarea {
  width: 756px;
  height: 298px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #99999a;
  background-color: #e9dbdb33;
  font-size: 14px;
  font-weight: 700;
  color: #99999a;
  resize: none;
}
input[type="text"],
select {
  background-color: #e9dbdb33;
  width: 100%;
  height: 59px;
  padding: 12px 20px;
  margin: 0 20px 20px;
  display: inline-block;
  border: 2px solid #99999a;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  height: 59px;
  background-color: #5968f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin: 0 20px 20px;
}

.numbers {
  margin-top: 51px;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main {
  color: #4e4d54;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}
.stuff {
  color: #99999a;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
}
.Contact3 {
  color: #000000;
  font-size: 49px;
  font-weight: 400;
  width: 600px;
}
.img {
  background-color: #5968f4;
  border-radius: 100px;
  width: 68px;
  height: 68px;
}
.images {
  display: flex;
  gap: 50px;
  margin-top: 53px;
  justify-content: space-around;
}
.text {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
}
.text2 {
  color: #99999a;
  font-weight: 700;
  font-size: 17px;
  width: 250px;
  margin-top: 23px;
  margin-bottom: 27px;
}
.links {
  color: #ffffff;
  font-weight: 400;
  font-size: 21px;
  display: inline-block;
  margin-bottom: 32px;
}
.blog {
  color: #5863e3;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 9px;
}
.blogs {
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  display: flex;
  margin-bottom: 19px;
}
footer {
  display: flex;
  background-color: #000000;
  margin-top: 39px;
}
.footer1 {
  margin-right: 191px;
  margin-top: 63px;
  margin-left: 143px;
}
.footer2 {
  margin-right: 156px;
  margin-top: 63px;
}
.footer3 {
  margin-right: 128px;
  margin-top: 63px;
}
.footer4 {
  margin-left: 30px;
  margin-top: 63px;
}
.iconinfo {
  display: flex;
}
.icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #5863e3;
  justify-content: center;
  align-items: center;
}
.icon1 {
  font-size: 30px;
  color: #344188;
}
.icon2 {
  color: #5863e3;
  margin-right: 5px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  form {
    flex-direction: column;
  }
  textarea {
    width: 100%;
  }
  input {
    width: 100%;
  }
  submit {
    width: 100%;
  }
}
